.nav-link{
    display: inline-block;
    box-sizing: border-box;
    border-radius:6px;
    width: 90px;
    padding: 10px;
    margin: 0 6px 6px;
    background: rgb(0, 179, 255);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.active {
    color: rgb(253, 254, 254);
    background: rgb(255, 0, 98);
}